{% extends 'simple_dict/base_screen.html' %}

{% block content %}
    <form action="{{ user_word.update_absolute_url }}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{field.errors}}
                </div>
            {% endif %}
            <div class="mb-3">
                {{field.label}}
                {{field}}
            </div>
        {% endfor %}
        {{formset.management_form}}
        {% for form in formset %}
<!--        {% for field in form %}-->
<!--            {% if field.errors %}-->
<!--                <div class="alert alert-danger" role="alert">-->
<!--                    {{field.errors}}-->
<!--                </div>-->
<!--            {% endif %}-->
<!--            <div class="mb-3">-->
<!--                {{field.label}}-->
<!--                {{field}}-->
<!--            </div>-->
<!--        {% endfor %}-->
        {{form.as_p}}
        {% endfor %}
<!--        {{formset.as_p}}-->
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}