<div class="card mb-4">
<!--              <h5 class="card-header">{{post.date_pub}}</h5>-->
              <div class="card-body">
                <h5 class="card-title">Слово - {{word.word}}</h5>
                <h5 class="card-title">Перевод - {{word.translate}}</h5>
                <p class="card-text">{{word.word_example}}</p>
                <a href="#" class="btn btn-light">Add</a>
              </div>
<!--                <div class="card-footer text-muted">-->
<!--                Tags:-->
<!--                    {% for tag in post.tags.all %}-->
<!--                        <a href="{{tag.get_absolute_url}}">{{tag.title}}</a>-->
<!--                    {% endfor %}-->
<!--                </div>-->
</div>